#cloud-config
package_update: true
package_upgrade: true

packages:
  - nginx
  - curl
  - git

runcmd:
  - systemctl enable nginx
  - systemctl start nginx
  - echo "Application ${app_name} initialized" > /var/www/html/index.html
